.table-head{
    background-color: gainsboro;
    font-weight: bold;
}

.sales-container{
  padding: 1em;
}

.card {
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin-top: 1em;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-right: 1em;
  box-sizing: border-box;
}

.right-column {
  width: 70%;
}

.sales-add-container {
  margin-bottom: 1em;
}

.sales-general-filter,
.sales-advanced-filter {
  color: black;
  margin-bottom: 1em;
}

.table-container {
  width: calc(600% - 530px);
  height: calc(100vh - 200px);
  grid-column: 2 / 3;
}

.pagination-container{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-top: 0%; 
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table-head th,
.table-body td {
  width: 80px;
}
