.table-head{
    background-color: gainsboro;
    font-weight: bold;
}

.sales-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1%;
  margin-top: 0%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  width: 100%;
  max-width: 1300px;
}

.sales-add-container {
  grid-column: 1 / 2;
  max-width: 230px; 
  max-height: 100px; 
  margin-right: 1em; 
}

.table-container {
  grid-column: 2 / 3;
  width: 800%; 
  max-width: 100%; 
  overflow-x: auto;
  margin: 0 auto;
}

.pagination-container{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-top: 0%; 
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table-head th,
.table-body td {
  width: 120px;
}
